<% include head %>
<% include menu %>   
<div class="jumbotron">
	<h1>E-commerce</h1>
        <p class="lead">Najlepsza analityka e-commerce na rynku! Zarejestruj się już dzisiaj!</p>
        <p><a class="btn btn-lg btn-success" href="/register" role="button">Zarejestruj się!</a></p>
</div>

<% include footer %>

<% include layout_end %>
